body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: black;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 70%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 15%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border: 1px solid darkgreen;
	border-radius: 5px;
}
.container-button:hover{
	background-color: lightgreen;
     color: black;
	 animation-fill-mode: forwards;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
	
}
.headin{
	color: white;
	margin-top: 10%;
	text-align: center;
	font-family: Helvetica, sans-serif;

}
.load{
display: none;
color:yellow;
}